body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #2372c1;
  font-family: Arial, sans-serif;
}

.container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: blanchedalmond;
  padding: 20px;
  border-radius: 8px;
}
